#taskContent {
  min-width: 900px;
  .cds--data-table tr {
    height: 40px;
    th {
      background-color: #f4f4f4;
      border: 1px solid #ddd;
    }
  }
  .cds--data-table td,
  .cds--data-table tbody th {
    background-color: white;
    border: 1px solid #ddd;
  }
  .cds--data-table {
    width: 100%;
  }
  .meter-title,
  .percent-value {
    font-size: 12px;
    font-style: italic;
  }
  .cds--btn--secondary {
    width: 93px;
    height: 33px;
    background-color: var(--Layer-accent-layer-accent-01, #e0e0e0);
    color: #000;
    &:hover {
      color: #fff;
      background-color: var(--cds-button-secondary, #474747);
    }
  }
  .cds--progress-bar__label-text {
    font-style: italic;
  }
}
