@use '@carbon/react';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.cds--date-picker-container,
.cds--date-picker-input__wrapper,
.cds--date-picker__input,
.cds--date-picker.cds--date-picker--single .cds--date-picker__input {
  width: inherit;
}

.cds--date-picker {
  width: 100%;
}

.cds--css-grid {
  max-width: inherit;
  align-items: end;
}

@media (min-width: 66rem) {
  .cds--header__menu-toggle__hidden {
    display: flex;
  }
}
@media (max-width: 65.98rem) {
  .cds--side-nav--ux {
    width: 3rem;
  }
  .cds--side-nav--expanded {
    width: 16rem;
  }
}
.cds--side-nav--ux {
  top: 3rem;
  width: 3rem;
}
.cds--side-nav--expanded {
  width: 16rem;
}
