.cds--structured-list.cds--structured-list--condensed .cds--structured-list-td,
.cds--structured-list.cds--structured-list--condensed .cds--structured-list-th {
  padding: 0rem;
}

.truncate {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &:hover {
    white-space: normal;
    overflow: visible;
  }

  &.expanded {
    white-space: normal;
    overflow: visible;
  }
}

.headerRow {
  border-bottom: 1px solid var(--Border-border-subtle-01, #c6c6c6);
  background: var(--Layer-accent-layer-accent-01, #e0e0e0);
  align-items: center;
  justify-content: center;
}

.cds--structured-list
  .cds--structured-list-row
  .cds--structured-list-td:first-of-type,
.cds--structured-list
  .cds--structured-list-row
  .cds--structured-list-th:first-of-type {
  padding-left: 1.5rem;
}

.cds--structured-list.cds--structured-list--condensed .cds--structured-list-td,
.cds--structured-list.cds--structured-list--condensed .cds--structured-list-th {
  padding: 10px 0px;
}

.inboundOperateButton {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: var(--cds-button-primary, #0f62fe);
  color: var(--cds-text-on-color, #ffffff);
}

.cds--btn--secondary {
  width: 93px;
  height: 33px;
  background-color: var(--Layer-accent-layer-accent-01, #e0e0e0);
  color: #000;
  &:hover {
    background-color: var(--cds-button-secondary, #474747);
  }
}
